/__pycache__/CartesianCoordinateSystem.cpython-36.pyc
/__pycache__/ECEF.cpython-36.pyc
/__pycache__/GIS.cpython-36.pyc
/__pycache__/GeographicFrame.cpython-36.pyc
/__pycache__/Vector3.cpython-36.pyc
/new 3.txt
